body {
    background-color: lightblue;
}



.footer {
    background-color: pink;
    
    margin-top: 800px;
    margin-bottom: -10px;

}



li {
    list-style: none;
    text-decoration: none;
    
}

